@use 'shared/styles/mixins' as m;

.card {
	max-width: 640px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	cursor: pointer;
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--font-sans);
	color: var(--primary-black);
}

.runs {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 150px;
}

.runsLabel {
	font-size: 16px;
	font-family: var(--font-sans);
	color: var(--primary-black);
	font-weight: 500;
}

.legs {
	display: flex;
	align-items: center;
	width: 592px;
	justify-content: space-between;
	font-size: 14px;
}

.fares {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 592px;
}
.FOCwrapper {
	width: 160px;
}

.duration {
	font-size: 10px;
	color: var(--primary-black-50);
}

@include m.to(sm) {
	.root {
		padding: 0;
	}

	.legs {
		width: 100%;
	}

	.fares {
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}

	.runs {
		width: 35%;
	}
	.card {
		padding: 24px 8px;
	}
}
