.footer {
	background: var(--primary-black);
	color: var(--white);
	font-family: var(--font-sans);
	font-size: 16px;
	font-weight: 400;
}

.inner {
	max-width: 1440px;
	margin: 0 auto;
	padding: 64px;
	display: grid;
	grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr);
	grid-template-rows: auto auto;
	column-gap: 32px;
	row-gap: 40px;
}

.brand {
	color: inherit;
	text-decoration: none;
	font-size: 34px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.copy {
	margin: 0;
	grid-column: 1 / -1;
	font-weight: 400;
}

.nav {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: 32px;
}

.navGroup {
	display: grid;
	row-gap: 12px;
}

.navTitle {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.navList {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	row-gap: 16px;
}

.navLink {
	font-size: 14px;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 768px) {
	.inner {
		max-width: 768px;
		margin: 0 auto;
		padding: 64px 32px;
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		row-gap: 40px;
	}
	.brand {
		color: inherit;
		text-decoration: none;
		font-size: 34px;
		display: flex;
		align-items: center;
	}

	.nav {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		column-gap: 32px;
	}
}

@media (max-width: 360px) {
	.nav {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		row-gap: 24px;
	}
}
