@use 'shared/styles/mixins' as m;

.inputListWrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.inputList {
	min-width: 304px;
}

.dateInput {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}

@include m.to(sm) {
	.sectionTop {
		display: flex;
		flex-direction: column;
	}
	.inputListWrap {
		flex-direction: column;
	}
	.inputList {
		min-width: 100%;
	}
}
