.inputListWrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.inputList {
	width: 304px;
}

.dateInput {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}
