@use 'shared/styles/mixins' as m;

.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: var(--primary-input-bg);
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 64px;
}

.sectionTop,
.mealsSection,
.offersSection,
.promoSection,
.billDet,
.mainButtonsSection,
.links {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.sectionTop,
.mealsSection {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.promoSection {
	display: flex;
	gap: 32px;
}

.mainButtonsSection {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.links {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.link {
	color: var(--primary-black-50);
	font-size: 14px;
	text-decoration: none;
}

.mealsWrapper {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.title {
	margin: 0 0 24px;
	font-size: 32px;
	font-family: var(--font-sans);
	font-weight: 400;
	color: var(--primary-blue);
}

.viewBtn {
	align-self: flex-end;
	margin-top: 12px;

	border: none;
	background: none;
	padding: 0;

	font-size: 14px;
	font-weight: 500;
	color: var(--primary-blue);
	cursor: pointer;

	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.aboutBill {
	color: var(--primary-black-50);
	font-size: 12px;
	text-align: center;
}

@include m.to(sm) {
	.main {
		padding: 20px;
	}

	.title {
		font-size: 28px;
	}

	.mealsSection {
		flex-direction: row;
	}
	.mealsWrapper > :not(:first-child) {
		display: none;
	}
	.viewBtn {
		align-self: center;
	}
	.promoSection {
		flex-direction: column;
	}
	.promoCard {
		padding: 32px 16px;
	}
	.aboutBill {
		text-align: start;
	}
}
