.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 64px;
}
.sectionTop,
.middleSection,
.mealsSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	// margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.mainButtonsSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	// margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.linksSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	// margin-bottom: 60px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.link {
	color: var(--primary-black-50);
	font-size: 14px;
	text-decoration: none;
}

.promoSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 32px;
}

.offersSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.mealsWrapper {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.title {
	margin: 0 0 24px;
	font-size: 32px;
	font-weight: 600;
	font-family: var(--font-sans);
	font-weight: 400;
	color: var(--primary-blue);
}

.viewBtn {
	align-self: flex-end;
	margin-top: 12px;

	border: none;
	background: none;
	padding: 0;

	font-size: 14px;
	font-weight: 500;
	color: #5e4ae3;
	cursor: pointer;

	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.billDet {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
.aboutBill {
	color: var(--primary-black-50);
	font-size: 12px;
	text-align: center;
}
