.header {
	font-family: var(--font-sans);
	font-weight: 400;
	color: var(--primary-black);
}

.dark {
	color: var(--white);
}

.inner {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 32px 64px 32px 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerBrand {
	display: flex;
	align-items: center;
	font-size: 34px;
	gap: 15px;
	text-decoration: none;
	color: inherit;
}

.headerNavList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	gap: 96.33px;
	font-size: 20px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.cta {
	font-weight: 600;
}

.headerBurger {
	border: none;
	display: none;
	width: 30px;
	height: 24px;
}

.headerBurgerLight {
	background-image: url('/images/burger.svg');
}
.headerBurgerDark {
	background-image: url('/images/burger-white.svg');
}

@media (max-width: 768px) {
	.headerNav {
		display: none;
	}
	.headerBurger {
		display: inline-flex;
	}
	.headerBrandName {
		display: none;
	}
	.inner {
		padding: 32px 20px;
		align-items: center;
	}
}
