.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 64px;
}
.title {
	margin: 0 0 24px;
	font-size: 32px;
	font-weight: 600;
	font-family: var(--font-sans);
	font-weight: 400;
	color: var(--primary-blue);
}

.sectionTop,
.middleSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
}

.sectionOffers {
	max-width: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.middleSection {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.aboutTrains {
	font-family: var(--font-sans);
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-black-50);
	margin: 0;
}

.sectionOffersTitle {
	font-size: 48px;
	font-weight: 500;
	font-family: inherit;
	margin: 0;
}
