:root {
	--primary-blue: #5e4ae3;
	--primary-blue-10: #5e4ae31a;
	--primary-black: #010400;
	--primary-black-50: #7f817f;
	--primary-input-bg: #f5f5f5;
	--white: #ffffff;
	--red: #ff6060;
	--card-green: #7dcfb6;
	--card-amber: #fbd1a2;
	--card-red: #f79256;
	--card-grey: #90a3bf;
	--card-grey-50: #c7d0de;
	--dark-grey: #4b4d4a;
	--green: #31a91d;
}
