@use 'shared/styles/mixins' as m;

.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background: var(--white);
	padding: 3px 24px 5px 24px;
	width: 100%;
}

.inputCounterGroup {
	display: flex;
	align-items: center;
	gap: 6px;
}

.pasInput {
	text-align: center;
}

.personImg {
	height: 32px;
	display: flex;
}

.counterSmall :global(.p-inputnumber-input) {
	width: 31px;
	height: 22px;
}

.counterSmall :global(.p-inputnumber-button-up),
.counterSmall :global(.p-inputnumber-button-down) {
	width: 20px;
	height: 20px;
}

@include m.to(sm) {
	.counterSmall :global(.p-inputnumber-input) {
		width: 12px;
		font-size: 12px;
	}

	.article {
		padding: 0 8px;
	}

	.inputCounterGroup {
		gap: 0;

		.inputListWrap {
			display: flex;
			flex-direction: column;
		}
	}
}
