@use 'shared/styles/mixins' as m;

.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: var(--primary-input-bg);
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 64px;
}

.title {
	color: var(--primary-blue);
	font-size: 32px;
	font-weight: 400;
}

.price {
	color: var(--card-red);
}

.sectionTop,
.promo,
.billDet,
.paymentFormSection,
.links {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.sectionTop {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.promo {
	display: flex;
	gap: 32px;
}

.links {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.link {
	color: var(--primary-black-50);
	font-size: 14px;
	text-decoration: none;
}

@include m.to(sm) {
	.main {
		padding: 20px;
	}

	.promo {
		flex-direction: column;
	}

	.promoCard {
		padding: 32px 16px;
	}
}
