.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 64px;
}
.title {
	color: var(--primary-blue);
	font-size: 32px;
	font-weight: 400;
}
.price {
	color: var(--card-red);
}

.sectionTop,
.middleSection,
.mealsSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.promoSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 32px;
}

.billDet {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
