.card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-family: var(--font-sans);
	font-weight: 500;
	font-size: 12px;
	color: var(--primary-black);
	// cursor: pointer;
}

.rowTop,
.rowBottom {
	display: flex;
	justify-content: space-between;
}
