.textInputWrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.input {
	width: 100%;
	height: 32px;
	border: none;
	border-bottom: 1px solid var(--primary-black-50);
	background: transparent;
	font-family: var(--font-sans);
	font-weight: 500;
	font-size: 14px;
	padding: 5px 0px 5px 20px;
	margin-top: 8px;
}

.input::placeholder {
	color: var(--primary-black-50);
}

.label {
	color: var(--primary-black);
	font-family: var(--font-sans);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}

.error {
	border: 1px solid var(--red);
	color: var(--red);
	font-size: 12px;
}
