.input {
	display: flex;
	align-items: center;
}
.input :global(.p-inputnumber-input) {
	border: none;
	padding: 0;
	text-align: center;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.input :global(.p-inputnumber-button-up),
.input :global(.p-inputnumber-button-down) {
	border: none;
	padding: 0;
	background: transparent;
}

/* иконки */
.input :global(.myicon) {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: var(--primary-blue);
}

.input :global(.myicon-plus) {
	-webkit-mask: url('/images/plus.svg') no-repeat center / contain;
	mask: url('/images/plus.svg') no-repeat center / contain;
}

.input :global(.myicon-minus) {
	-webkit-mask: url('/images/minus.svg') no-repeat center / contain;
	mask: url('/images/minus.svg') no-repeat center / contain;
}

.decrementDisabled :global(.myicon-minus),
.incrementDisabled :global(.myicon-plus) {
	background: var(--primary-black-50); // сюда твоя серая переменная
	cursor: default;
}
