.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 640px;
	height: 34px;
	gap: 147.5px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 24px 5px 24px;
}
.inputCont {
	display: flex;
	align-items: center;
	gap: 6px;
}

.inputCounterGroup {
	display: flex;
	align-items: center;
	gap: 6px;
}

.inputLabel {
	color: var(--primary-black);
	font-size: 14px;
	font-family: var(--font-sans);
	font-weight: 400;
}

.pasInput {
	text-align: center;
}

.personImg {
	height: 32px;
}

.article :global(.p-inputnumber-buttons-horizontal .p-inputnumber-input) {
	width: 31px;
	height: 22px;
	border: none;
	padding: 0;
	text-align: center;
	&:focus-visible {
		outline: none;
	}
}

.article :global(.p-input-wrapper-focus) {
	outline: none;
}

.article
	:global(.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up),
.article
	:global(
		.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down
	) {
	border: none;
	padding: 0;
	background: transparent;
	width: 20px;
	height: 20px;
}

.article :global(.myicon) {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: var(--primary-blue);
}

.article :global(.myicon-plus) {
	-webkit-mask: url('/images/plus.svg') no-repeat center / contain;
	mask: url('/images/plus.svg') no-repeat center / contain;
}

.article :global(.myicon-minus) {
	-webkit-mask: url('/images/minus.svg') no-repeat center / contain;
	mask: url('/images/minus.svg') no-repeat center / contain;
}

.article :global(.p-inputnumber .p-button .p-button-icon) {
	margin: 0;
}

.article :global(.p-radiobutton:has(.p-radiobutton-input) .p-radiobutton-box) {
	border-color: #c7d0de;
	background-color: #c7d0de;
}

.article
	:global(.p-radiobutton:has(.p-radiobutton-input:checked) .p-radiobutton-box) {
	border-color: var(--primary-blue);
	background-color: var(--primary-blue);
}

.article :global(.p-radiobutton .p-radiobutton-box .p-radiobutton-icon) {
	width: 6px;
	height: 6px;
}

.article
	:global(
		.p-inputnumber
			.p-component
			.p-inputwrapper
			.p-inputwrapper-filled
			.p-inputnumber-buttons-horizontal
	) {
	display: flex;
	align-items: center;
}

.article
	:global(
		.p-inputnumber
			.p-component
			.p-inputwrapper
			.p-inputwrapper-filled
			.p-inputnumber-buttons-horizontal
	) {
	display: flex;
	align-items: center;
}

.article :global(.p-inputnumber .p-inputnumber-input:focus-visible) {
	box-shadow: none !important;
}

@media (max-width: 900px) {
	.article {
		width: 320px;
		padding: 0 8px;
		gap: 25.5px;
	}
	.inputLabel {
		font-size: 12px;
	}

	:global(.p-inputnumber-buttons-horizontal .p-inputnumber-input) {
		width: 24px;
		font-size: 12px;
	}
}
