@use 'shared/styles/mixins' as m;

.card {
	max-width: 640px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.visaGroup {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 16px;
}

.headPls {
	color: var(--primary-black-50);
}

.fieldInput {
	font-size: 14px;
	height: 56px;
}

@include m.to(sm) {
	.visaGroup {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.card {
		padding: 32px 16px;
	}
}
