@use 'shared/styles/mixins' as m;

.card {
	max-width: 640px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.head {
	font-size: 20px;
}

.headRow {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 500;
}

.inf {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.classInfo {
	color: var(--primary-blue);
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--font-sans);
	color: var(--primary-black);
}

.legs {
	display: flex;
	align-items: center;
	width: 592px;
	justify-content: space-between;
	font-size: 14px;
}

.fares {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 592px;
}
.FOCwrapper {
	width: 160px;
}

.duration {
	font-size: 10px;
	color: var(--primary-black-50);
}

.traveller {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-top: 1px solid var(--primary-black-10);
	padding-top: 16px;
}

.travellerHead {
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 4px;
}

.travellerRow {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.travellerRowInline {
	justify-content: flex-start;
	color: var(--primary-black-50);
}

.totalFare {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	border-top: 1px solid var(--primary-black-10);
	padding-top: 16px;
}

@include m.to(sm) {
	.card {
		padding: 32px 16px;
	}
	.inf {
		flex-direction: column;
		align-items: start;
	}
	.legs {
		width: 100%;
	}
}
