.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: var(--primary-input-bg);
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
	gap: 16px;
	font-family: var(--font-sans);
}

.errorCode {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0;
	margin-bottom: 60px;
}

.four {
	font-family: var(--font-sans);
	font-size: 150px;
	font-weight: bolder;
	font-style: italic;
	color: var(--dark-grey);
	line-height: 1;
}

.ghost {
	width: 160px;
	height: auto;
	position: relative;
	left: 17px;
}

.title {
	margin: 0 auto;
	font-size: 50px;
	font-weight: 600;
	color: var(--dark-grey);
	text-align: center;
}

.subtitle {
	margin: 0 auto;
	font-size: 20px;
	color: var(--dark-grey);
	text-align: center;
}

.button {
	margin-top: 64px;
	width: 200px;
}
