.page {
	min-height: 100dvh;
	background-image: url('/images/start-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--white);
	font-family: var(--font-sans);
}

.main {
	display: flex;
	justify-content: center;
	margin-top: 96px;
	// padding: 80px 16px 40px;
}

.hero {
	width: min(100%, 1100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// gap: 24px;
}
.title {
	// width: 100%;
	margin: 0;
	font-size: 82px;
	font-weight: 600;
}

.p {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 60px;
}
.formWrap {
	width: 640px;
	text-align: start;
}
