@use 'shared/styles/mixins' as m;

.page {
	min-height: 100dvh;
	background-image: url('/images/start-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--white);
	font-family: var(--font-sans);
}

.main {
	display: flex;
	justify-content: center;
	margin-top: 96px;
}

.hero {
	width: min(100%, 1100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.title {
	margin: 0;
	font-size: 82px;
	font-weight: 600;
}

.p {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 60px;
}
.formWrap {
	width: 640px;
	text-align: start;
}

@include m.to(sm) {
	.page {
		padding: 20px;
	}
	.main {
		margin-top: 32px;
	}
	.title {
		font-size: 48px;
		display: flex;
		flex-wrap: wrap;
		max-width: 80%;
	}
	.p {
		font-size: 22px;
		max-width: 50%;
	}
	.hero {
		max-width: 100%;
		margin-bottom: 90px;
	}

	.formWrap {
		max-width: 100%;
	}
}
