@use 'shared/styles/mixins' as m;

.page {
	position: relative;
	min-height: 100dvh;
	color: var(--white);
	font-family: var(--font-sans);
}

.page::before {
	content: '';
	position: fixed;
	inset: 0;
	background: url('/images/start-bg.png') center / cover no-repeat;
	z-index: -1;
}

.main {
	display: flex;
	justify-content: center;
	margin-top: 96px;
}

.hero {
	width: min(100%, 1100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.title {
	margin: 0;
	font-size: 82px;
	font-weight: 600;
}

.p {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 60px;
}
.formWrap {
	width: 640px;
	text-align: start;
}

@include m.to(sm) {
	.page {
		padding: 20px;
	}
	.main {
		margin-top: 32px;
	}
	.title {
		font-size: 48px;
		display: flex;
		flex-wrap: wrap;
		max-width: 80%;
	}
	.p {
		font-size: 22px;
		max-width: 50%;
	}
	.hero {
		max-width: 100%;
		margin-bottom: 90px;
	}

	.formWrap {
		max-width: 100%;
	}
}
