.box {
	width: auto;
	height: auto;
	padding: 26px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 24px;
	font-family: var(--font-sans);
	font-weight: 500;
	font-size: 16px;
}

.header {
	font-size: 24px;
	color: var(--primary-blue);
	margin: 0;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 125px;
}

.icon {
	display: flex;
	align-items: center;
}

.textWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

@media (max-width: 768px) {
	.box {
		padding: 32px 16px;
	}
}
