.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 40px 64px;
}
.sectionTop {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.detailsSection,
.qrSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
.linksSection {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	// margin-bottom: 60px;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.link {
	color: var(--primary-black-50);
	font-size: 14px;
	text-decoration: none;
}

.successImg {
	width: 130px;
	height: 109px;
}

.title {
	margin: 0;
	font-size: 30px;
	font-family: var(--font-sans);
	font-weight: 400;
	color: var(--green);
	text-align: center;
}
